*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: #0066bb no-repeat right 10px;
  background-size: contain;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #0085F3;
    }
  }
}

section {
 padding: 20px;
}

.panel-group {
  margin-bottom: 0px !important;

}

.targetListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.targetListItem a:hover {
  background: #eee;
}
.targetListItem a span {
  margin: 0 2px;
}
.targetListItem a span:first-child {
  font-weight: 900;
}

.regionListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.regionListItem a:hover {
  background: #eee;
}
.regionListItem a span {
   margin: 0 2px;
 }
.regionListItem a span:first-child {
  font-weight: 900;
}

.regionListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.regionListItem a:hover {
  background: #eee;
}
.regionListItem a span {
  margin: 0 2px;
}
.regionListItem a span:first-child {
  font-weight: 900;
}

.objectiveListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.objectiveListItem a:hover {
  background: #eee;
}
.objectiveListItem a span {
  margin: 0 2px;
}
.objectiveListItem a span:first-child {
  font-weight: 900;
}

.resourceListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.resourceListItem a:hover {
  background: #eee;
}
.resourceListItem a span {
  margin: 0 2px;
}
.resourceListItem a span:first-child {
  font-weight: 900;
}
